<%= @function_spec %>
def <%= @function_name %>(<%= @input_params_with_default %>) do
	Logger.debug("Calling stored procedure", procedure: "<%= @routine.name %>")

	query(
		"select * from <%= @routine.schema %>.<%= @routine.name %>(<%= @sql_params %>)",
		[<%= @input_params %>]
	)
	<%= if @routine_has_return_type do %>
	|> <%= @parse_function_name %>()
	<% else %>
	:ok
	<% end %>
end
